<mat-toolbar class="toolbar">
  <div class="max-grow"></div>
  <mat-form-field appearance="outline" class="search-form">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchTerm"
      (keyup.enter)="submit()"
    />
    <button
      mat-button
      *ngIf="searchTerm"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchTerm = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-icon-button (click)="submit()">
    <mat-icon>search</mat-icon>
  </button>
  <div class="max-grow"></div>
</mat-toolbar>

<div class="main-content">
  <app-cocktail-card
    class="cocktail-card"
    [cocktail]="cocktail"
    *ngFor="let cocktail of cocktails"
    [@flyInOut]="'in'"
  ></app-cocktail-card>
</div>
