<mat-toolbar class="toolbar">
  <div class="max-grow"></div>
  <mat-form-field appearance="outline" class="search-form">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="searchTerm" />
    <button
      mat-button
      *ngIf="searchTerm"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchTerm = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-icon-button><mat-icon>search</mat-icon></button>
  <div class="max-grow"></div>
</mat-toolbar>

<div class="main-content">
  <app-cocktail-card
    class="cocktail-card"
    [cocktail]="cocktail"
    *ngFor="let cocktail of cocktails"
  ></app-cocktail-card>
</div>
