mat-toolbar {
  height: 60px;
  position: relative;
  z-index: 2;
}

.title-text {
  font-size: xx-large;
  font-weight: 300;
  margin-left: 5%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

a {
  color: inherit;
  text-decoration: none;
}
