<div class="sidenav-content">
  <mat-toolbar class="toolbar"
    ><app-ingredient-filter
      (alcChanged)="filterAlcChanged($event)"
      (ingredientChanged)="filterIngredientChanged($event)"
    ></app-ingredient-filter
  ></mat-toolbar>
  <mat-nav-list>
    <!-- *** WS-TASK 1.4 *** -->
    <!-- Array.prototype.slice() could be helpful for Pagination to display only the necessarry number of cocktails per page-->
    <!-- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/slice -->
    <mat-list-item
      *ngFor="let cocktail of cocktails"
      [routerLink]="['/details', cocktail.id]"
    >
      <h3 matLine>{{ cocktail.title }}</h3>
      <p matLine>
        <span> {{ cocktail.instructions }} </span>
      </p>
    </mat-list-item>

    <!-- Insert Paginator below Cocktail items-->

    <!-- END of Task -->
  </mat-nav-list>
</div>
