.cocktail-title {
  margin: 0px;
}

.cocktail-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.cocktail-img {
  width: 404px;
  height: 404px;
}

.img-flex {
  display: flex;
  flex-direction: row;
}

.max-grow {
  display: flex;
  flex-grow: 1;
}

.toolbar {
  min-height: 15vh;
}
