<mat-toolbar class="toolbar">
  <div class="max-grow"></div>
  <div>
    <h1 class="mat-display-3 cocktail-title">
      {{ cocktail.title }}
    </h1>
  </div>
  <div class="max-grow"></div>
</mat-toolbar>

<div class="cocktail-detail">
  <div class="box">
    <div class="img-flex">
      <img
        mat-card-image
        [src]="cocktail.img"
        alt="Image of a Cocktail"
        class="cocktail-img"
      />
      <mat-list class="ingredient-list">
        <mat-list-item
          *ngFor="let ingredient of cocktail.ingredients; last as last"
        > 
        <div *ngIf="ingredient.ingredient != undefined">
          {{ ingredient.measure}}
          {{ ingredient.ingredient }}
          {{ 100* ingredient.measure/sumMeasures}} %
          <mat-divider *ngIf="!last"></mat-divider>
        

        </div>
          
        </mat-list-item>
      </mat-list>
    </div>
    <div class="instructions">
      <p>{{ cocktail.instructions }}</p>
    </div>
    <div class="measures">
      <p>{{ sumMeasures}}</p>
    </div>
    <div>
    <mat-form-field appearance="outline" class="search-form">
      <mat-label>Amount Of Alcoholism</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="amountCocks"
        (change)="amount()"
      />
    
    </mat-form-field>
  </div>
  </div>

  <button mat-raised-button color="primary" [routerLink]="['/']">
    Overview
  </button>


</div>
