<mat-toolbar class="toolbar">
  <div class="max-grow"></div>
  <div>
    <h1 class="mat-display-3 cocktail-title">
      {{ cocktail.title }}
    </h1>
  </div>
  <div class="max-grow"></div>
</mat-toolbar>

<div class="cocktail-detail">
  <div class="box">
    <div class="img-flex">
      <img
        mat-card-image
        [src]="cocktail.img"
        alt="Image of a Cocktail"
        class="cocktail-img"
      />
      <!-- *** WS-TASK 1.2 *** -->
      <!-- Make list look pretty -->
      <!-- Maybe a list divider could look nice as well? 
           (But: List dividers should only placed *between* list items)-->
      <ul class="ingredient-list">
        <li *ngFor="let ingredient of cocktail.ingredients">
          {{ ingredient | unit }}
        </li>
      </ul>
      <!-- END of Task -->
    </div>
    <div class="instructions">
      <p>{{ cocktail.instructions }}</p>
    </div>
    <!-- *** WS-TASK 1.3 *** -->
    <!-- 
      Insert a numerical input to calculate the right amount of ingredients for the desired number of cocktails
      
      Use 'numberCocktails' to store the number of cocktails desired
      The calculations are already implemented by the 'amount()' method and should be triggered when the desired number of cocktails (change)s

      Hint: This is a Angular Material exercise: A Form Field could help to make the input look prettier...
      Another Hint: Should it really be possible to get the amount of ingredients for -10 cocktails or is there a way to prevent such crazy ideas?
    -->

    <!-- END of Task -->
  </div>

  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/']"
    class="overview-button"
  >
    Overview
  </button>
</div>
