.cocktail-card {
  max-width: 300px;
  margin: 20px;
}

.cocktail-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.content {
  min-height: 100px;
}
