<mat-card class="cocktail-card mat-elevation-z4">
  <mat-card-header>
    <mat-card-title
      ><a [routerLink]="['/details', cocktail.id]">{{
        cocktail.title
      }}</a></mat-card-title
    >
    <mat-card-subtitle>{{ cocktail.category }}</mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image class="image_container">
    <img class="image" [src]="cocktail.img" alt="Image of a Cocktail" />
  </div>
  <mat-card-content class="content">
    <p>
      {{ cocktail.instructions }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="['/details', cocktail.id]">
      <button mat-raised-button color="primary">Show details</button>
    </a>
  </mat-card-actions>
</mat-card>
